.header {
    background: #61dafb;
    color: black;
    padding:  20px;
    box-sizing: border-box;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.right {
    text-align: right;
}